<sch-carousel
  *ngIf="'APP_INTRODUCTION' === type"
  [type]="type"
  [closeButton]="'Начать'"
  (closed)="closeAppIntro()"
>
  <sch-carousel-slide timer="5">
    <p><strong>Здравствуйте!</strong></p>
    <p>Это 1-я версия <strong>интерактивного расписания из Луговой Слободы в Минск и обратно</strong>.</p>

    <p>Расписание в приложении <strong>всегда является актуальным</strong> и загружается с официального сайта <a target="_blank" href="http://minsktrans.by">minsktrans.by</a>.</p>
    <p>Если Вы наткнулись на расхождение в расписании, обращайтесь в <a target="_blank" href="http://minsktrans.by">minsktrans.by</a>.</p>
  </sch-carousel-slide>
  <sch-carousel-slide timer="4">
    <p>Приложение использует бесплатные ресурсы в интеренете, поэтому отнеситесь, пожалуйста, с пониманием, если возникнут временные неполадки!</p>
  </sch-carousel-slide>
  <sch-carousel-slide timer="10">
    <p><strong>Важно!</strong></p>

    <p>В ближайшее время я планирую начать собирать подписи для коллективного письма в <a target="_blank" href="http://minsktrans.by">minsktrans.by</a> с просьбой сделать остановку автобука <strong>1061-ЭК</strong> официальной в Луговой Слободе.</p>

    <p>Поэтому, заранее прошу подключиться к этому, даже если Вам этот маршрут безразличен.</p>

    <p>Позже я напишу здесь, где и когда можно оставить свою подпись.</p>

    <p>Заранее спасибо!</p>
  </sch-carousel-slide>
  <sch-carousel-slide timer="3">
    <p><strong>Пользуйтесь расписанием на здоровье!</strong></p>

    <p>Для подтверждения ознакомления с информацией выше и согласия использования данного приложения нажмите
        кнопку "Начать"</p>
  </sch-carousel-slide>
</sch-carousel>

<sch-carousel
  *ngIf="'SCHEDULE_INTRODUCTION' === type"
  [type]="type"
  [closeButton]="'Начать'"
  (closed)="closeScheduleIntro()"
>
  <sch-carousel-slide timer="5">
    <p><strong>Особенности расписания.</strong></p>
    <p>Маршрут <strong>1061-ЭК</strong> включен в расписание, но официально НЕ останавливается на остановке Луговая Слобода! </p>
    <p>Чтобы автобус остановился, нужно "голосовать". К сожалению, это не всегда помогает, т.к. некоторые водители не хотят останавливаться.</p>
  </sch-carousel-slide>
  <sch-carousel-slide timer="4">
    <p>Также, т.к. <strong>1061-ЭК</strong> официально НЕ останавливается на нашей остановке по направлению в Минск, его расписание рассчитывается из формулы [ближайшая официальная остановка перед Луговой Слободой] + 8 минут. </p>
    <p>НО, автобус может приехать раньше или позже. Держите это во внимании!</p>
  </sch-carousel-slide>
  <sch-carousel-slide timer="10">
    <p><strong>Важно!</strong></p>

    <p>В ближайшее время я планирую начать собирать подписи для коллективного письма в <a target="_blank" href="http://minsktrans.by">minsktrans.by</a> с просьбой сделать остановку автобука <strong>1061-ЭК</strong> официальной в Луговой Слободе.</p>

    <p>Поэтому, заранее прошу подключиться к этому, даже если Вам этот маршрут безразличен.</p>

    <p>Позже я напишу здесь, где и когда можно оставить свою подпись.</p>

    <p>Заранее спасибо!</p>
  </sch-carousel-slide>
  <sch-carousel-slide timer="3">
    <p>Вкладка <strong>"Сейчас"</strong> отображает расписание на ближайшие 24 часа. </p>
    <p>Вкладка <strong>"Все расписание"</strong> отображает все расписание по дням недели.</p>
  </sch-carousel-slide>
</sch-carousel>

<!--
<div id="notification" *ngIf="!closed">
  <div class="text">
    <p><strong>Здравствуйте!</strong></p>
    <p>Это 1-я версия <strong>интерактивного расписания из Луговой Слободы в Минск и обратно</strong>.</p>

    <p>Расписание в приложении <strong>всегда является актуальным</strong> и загружается с официального сайта <a
        target="_blank" href="http://minsktrans.by">minsktrans.by</a>. Иногда случается так, что даже расписание с <a
        target="_blank" href="http://minsktrans.by">minsktrans.by</a> расходится с расписанием, например, на станции
      АС-Автозаводская. Поэтому свои претензии можно смело направлять прямо в официальную организацию.</p>

    <p>Расписание является <strong>полу оффлайн приложением</strong>. Это означает, что расписание обновляется 1 раз в
      день (для этого Вам нужен доступ в интернет), а остальное время берется из памяти Вашего телефона. И
      соответственно, остальное время можно пользоваться расписанием без интернета. Единственное условие, нужно
      <strong>пользоваться всегда одним и тем же браузером!</strong> Также, если у Вас не будет интернета больше одного
      дня и расписание не сможет обновиться, у Вас по-прежнему будет доступна оффлайн версия, только оно в какой-то
      момент может стать не актуальным.</p>

    <p><strong>Особенности расписания.</strong></p>
    <p>Маршрут <strong>1061-ЭК</strong> официально НЕ останавливается на остановке Луговая Слобода! При поездке в Минск,
      хоть маршрут и включен в расписание, остановится автобус или нет зависит от двух факторов: желание водителя
      сделать остановку и от того, будете ли вы "голосовать", привлекая внимание водителя для остановки или нет.</p>

    <p>Также, так как <strong>1061-ЭК</strong> официально НЕ останавливается на нашей остановке по направлению в Минск,
      его расписание рассчитывается из формулы [ближайшая официальная остановка перед Луговой Слободой] + 8 минут. НО,
      автобус может приехать раньше. Берите это во внимание!</p>

    <p>В самом расписании, после выбора направления, вкладка <strong>"Сейчас"</strong> отображает расписание на
      ближайшие 24 часа. Вкладка <strong>"Все расписание"</strong> отображает все расписание по дням недели.</p>

    <p>Пока расписание только для двух направлений. Возможно, приложение будет обновляться в будущем. Все будущие
      обновления будут показываться один раз в таком окне.</p>

    <p>Приложение использует бесплатные ресурсы в виде бесплатного хостинга, соответсвенно, при больших количествах
      посещений могут возникнуть непредвиденные проблемы, которые буду устранять в свое свободное время. Отнеситесь,
      пожалуйста, к этому с пониманием!</p>

    <p>В общем, <strong>пользуйтесь на здоровье!</strong></p>

    <p><strong>Для подтверждения ознакомления с информацией выше и согласия использования данного приложения нажмите
        кнопку:</strong></p>

    <button class="close-btn" type="button" (click)="close()">Я ознакомлен и согласен</button>
  </div>
</div> -->
