<div id="notification" *ngIf="!closed">
    <div class="text">
        <p><strong>Здравствуйте!</strong></p>
        <p>Это 1-я версия <strong>интерактивного расписания из Луговой Слободы в Минск и обратно</strong>.</p>

        <p>Расписание в приложении <strong>всегда является актуальным</strong> и загружается с официального сайта <a target="_blank" href="http://minsktrans.by">minsktrans.by</a>. Иногда случается так, что даже расписание с <a target="_blank" href="http://minsktrans.by">minsktrans.by</a> расходится с расписанием, например, на станции АС-Автозаводская. Поэтому свои претензии можно смело направлять прямо в официальную организацию.</p>

        <p>Расписание является <strong>полу оффлайн  приложением</strong>. Это означает, что расписание обновляется 1 раз в день (для этого Вам нужен доступ в интернет), а остальное время берется из памяти Вашего телефона. И соответственно, остальное время можно пользоваться расписанием без интернета. Единственное условие, нужно <strong>пользоваться всегда одним и тем же браузером!</strong> Также, если у Вас не будет интернета больше одного дня и расписание не сможет обновиться, у Вас по-прежнему будет доступна оффлайн  версия, только оно в какой-то момент может стать не актуальным.</p>

        <p><strong>Особенности расписания.</strong></p>
        <p>Маршрут <strong>1061-ЭК</strong> официально НЕ останавливается на остановке Луговая Слобода! При поездке в Минск, хоть маршрут и включен в расписание, остановится автобус или нет зависит от двух факторов: желание водителя сделать остановку и от того, будете ли вы "голосовать", привлекая внимание водителя для остановки или нет.</p>

        <p>Также, так как <strong>1061-ЭК</strong> официально НЕ останавливается на нашей остановке по направлению в Минск, его расписание рассчитывается из формулы [ближайшая официальная остановка перед Луговой Слободой] + 8 минут. НО, автобус может приехать раньше. Берите это во внимание!</p>

        <p>В самом расписании, после выбора направления, вкладка <strong>"Сейчас"</strong> отображает расписание на ближайшие 24 часа. Вкладка <strong>"Все расписание"</strong> отображает все расписание по дням недели.</p>

        <p>Пока расписание только для двух направлений. Возможно, приложение будет обновляться в будущем. Все будущие обновления будут показываться один раз в таком окне.</p>

        <p>Приложение использует бесплатные ресурсы в виде бесплатного хостинга, соответсвенно, при больших количествах посещений могут возникнуть непредвиденные проблемы, которые буду устранять в свое свободное время. Отнеситесь, пожалуйста, к этому с пониманием!</p>

        <p>В общем, <strong>пользуйтесь на здоровье!</strong></p>

        <p><strong>Для подтверждения ознакомления с информацией выше и согласия использования данного приложения нажмите кнопку:</strong></p>
        
        <button class="close-btn" type="button" (click)="close()">Я ознакомлен и согласен</button>
    </div>
</div>